/* Define margens superior e inferior de 1rem e centraliza o elemento horizontalmente */
.header{
    margin: 1rem auto;
}

/* Configuração para o layout do cabeçalho usando flexbox */
.header{
    display: flex; /* Define o contêiner como flexível */
    flex-direction: row; /* Alinha os itens em uma linha horizontal */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-around; /* Distribui o espaço entre os itens */
}

/* Configuração para a seção de informações no cabeçalho */
.header_info{
    width: 80%; /* Define a largura da seção para 80% da largura do contêiner pai */
    display: flex; /* Define a seção como flexível */
    flex-direction: row; /* Alinha os itens em uma linha horizontal */
    align-items: center; /* Centraliza os itens verticalmente */
}


/* Estilo para o logo no cabeçalho */
.header__logo{
    width: 80%; /* Define a largura do logo para 80% da largura do contêiner pai */
}

/* Estilo para o logo no cabeçalho */
.header__titulo{
    font-size: 1.4rem;
    height: 80%; /* Define a altura do título para 80% da altura do contêiner pai */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ; /* Define a família da fonte */
}


/* Estilo para o campo de entrada de texto no cabeçalho */
.header__input{
    width: 40%; /* Define a largura do campo de entrada para 40% da largura do contêiner pai */
    margin-left: 2rem; /* Adiciona uma margem à esquerda de 2rem */
    padding: .8rem;  /* Adiciona preenchimento interno de .8rem */
    background-color: var(--cor-de-fundo); /* Usa a variável de cor de fundo definida em algum lugar */
    border: none; /* Remove a borda */
    border-radius: 5rem; /* Adiciona borda arredondada com raio de 5rem */
    font-size: 16px;  /* Define o tamanho da fonte como 16 pixels */
    outline: none; /* Remove o contorno ao focar */
}

/* Estilo para o ícone de lupa no cabeçalho */
.header__lupa{
    position: relative; /* Define a posição relativa */
    left: -35px; /* Move o ícone para a esquerda em relação à posição normal */
    border: none; /* Remove a borda */
}

/* Estilo para o botão no cabeçalho */
.header__boton {
    border: 1px solid var(--cor-de-destaque); /* Adiciona uma borda com a cor de destaque */
    color: var(--cor-de-destaque); /* Define a cor do texto como a cor de destaque */
    padding: .7rem 2.4rem; /* Adiciona preenchimento interno de .7rem na vertical e 2.4rem na horizontal */
    border-radius: 5px; /* Adiciona borda arredondada com raio de 5px */
    text-decoration: none; /* remove o sublinhado do texto do botão */
    transition: all 0.2s ease; /* Adiciona um tempo para a transição ao passar o mouse */
}

/* Estilo para o botão no cabeçalho quando o mouse passa sobre ele */
.header__boton:hover {
    box-shadow: 1px 1px 8px 0px var(--cor-de-destaque); /* Adiciona uma sombra quando hover */
}

/* Estilo para o ícone de lupa em dispositivos móveis */
.header__lupa-mobile {
    display: none; /* Inicialmente, esconde o ícone de lupa em dispositivos móveis */
}

/* ----- Responsividade para Mobiles ------ */

@media only screen and (max-width: 767px){
    
    .header__titulo,
    .header__input,
    .header__lupa{
        display: none; /*Esconde o campo de entrada, o tituolo e o ícone de lupa em dispositivos móveis */
    }

    .header__lupa-mobile{
        display: block; /* Mostra o ícone de lupa em dispositivos móveis */
        width: 6%; /* Define a largura do ícone de lupa em dispositivos móveis */
        
    }

    .header_info{
        width: 40%; /* Reduz a largura da seção de informações em dispositivos móveis */
    }

    .header__boton{
        margin-left: 2rem; /* Adiciona uma margem à esquerda de 2rem em dispositivos móveis */
    }

}

