*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Mede as coisas a partir da borda da caixa */
} 

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
body {
  
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 94%;
  margin: 0 auto;
}

:root {
  
  --cor-de-fundo: #f5f5f5;
  --cor-de-realce: #000;
  --cor-de-destaque: #339A46;
  --cor-do-fundo-footer: #EAF2FD;
  --branco: #fff;
  --erro: red;
}