body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-realce: #000;
  --cor-de-destaque: #339A46;
  --cor-do-fundo-footer: #EAF2FD;
  --branco: #fff;
  --erro: red;
}