.sessao__chave{
    background-color: #f5f5f5;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.chave{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chave__imagem{
    width: 30%;
}

.containerFormData{
    display: flex;
    
}

.chave__info{
    width: 57%;
    display: flex;
    flex-direction: column;
}

.chave__info__titulo{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.chave__info__descricao{
    text-align: justify;
    line-height: 1.3;
}

/* ------------------------------------ */
/* ----- Responsive para Mobiles ------ */
/* ------------------------------------ */

@media only screen and (max-width: 767px){

    .sessao__chave{
        padding-top: 0;
        padding-bottom: 0;
    }

    .chave{
        flex-direction: column;
    }

    .chave__imagem{
        width: 50%;
        height: auto;
        margin: 3rem 1rem 1rem 1rem;
    }
    
    .chave__info{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
} 

/* ------------------------------------ */
/* ----- Responsive para Tablets ------ */
/* ------------------------------------ */

 @media (min-width:768px) and (max-width:1024px){

    .sessao__chave{
        padding-top: 2rem;
        padding-bottom: 0;
    }

    .chave__imagem{
        height: auto;
    }
    
} 